@font-face {
  font-family: 'iCheckMovies';
  src: url('/fonts/iCheckMovies.eot');
  src: url('/fonts/iCheckMovies.eot?#iefix') format('embedded-opentype'),
    url('/fonts/iCheckMovies.woff') format('woff'),
    url('/fonts/iCheckMovies.ttf') format('truetype'),
    url('/fonts/iCheckMovies.svg#iCheckMovies') format('svg');
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix {
	clear: both;
}

body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #222426;
  margin: 0;
  padding-top: 49px;
	height: 100%;
	background: #f0f0f0;
}

header {
  display: block;
	background: rgba(41,139,195,.9);
  border: 0;
  color: #fff;
  min-height: 49px;
	position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
	border-radius: 0;
  top: 0;
  margin-bottom: 21px;
}

.container {
  width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
}

.container>.navbar-header {
	margin-right: 0;
	margin-left: 0;
	float: left;
}

.container>.navbar-collapse {
	margin-right: 0;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}

header.navbar .navbar-brand {
  background-image: url(/images/spritesheet.png);
  background-position: 0 0;
  width: 135px;
  height: 49px;
  margin-left: -1px!important;
  margin-right: 16px;
  font: 0/0 a;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  color: #f5d380;
  font-weight: 900;
	float: left;
	padding: 14.5px 15px;
}

a:active, a:hover {
  outline: 0;
}

.navbar-brand:focus, .navbar-brand:hover {
  text-decoration: none;
}

#content {
  padding: 42px 0;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  width: 600px;
  margin: 0 auto;
}

#save {
	background: #45aae5;
	color: #fff;
	border: none;
	font-weight: 700;
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.5;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
	width: 70px;
	outline: 0;
}

h2 {
	border-bottom: 2px solid #d9d9d9;
	color: #428bca;
	float: left;
	margin: 0;
	padding-bottom: 7px;
	font-size: 22px;
}

.options {
	margin-bottom: 20px;
}

.actions {
	text-align:center;
}

label {
  display: block;
  color: #566068;
  border-bottom: 1px solid #d9d9d9;
  padding: 18px 10px 25px 15px;
}

label.first {
  border-top: 2px solid #d9d9d9;
}

label.check {
	background-color: white;
}

label span {
	vertical-align: -webkit-baseline-middle;
}

label input {
	float: right;
}

.icm-icon {
	float: right;
  font-size: 47px;
  height: 48px;
  margin-top: -8px;
  width: 48px;
  border: 1px solid;
  border-radius: 50%;
  display: block;
  margin-right: 0;
  cursor: pointer;
}

label.check .icm-icon {
	background-color: #2599db;
	color: white;
}

label:not(.check) .icm-icon:hover {
  color: #2599db;
}

#status {
	border: 0;
	border-radius: 0;
	color: #929ca4;
	font-size: 11px;
	padding: 0;
	vertical-align: baseline;
	font-weight: 700;
	float: right;
  margin-top: 18px;
}