/* General */
  body {
    width: 400px;
    padding: 15px 5px 10px 10px;
    background: #f2f1f0;
    color: black;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
  }

  h1 {
    margin-bottom: 5px;
    font-size: 22px;
    cursor: default;
    letter-spacing: 0.5px;
  }

  h2 {
    margin-top: 4px;
    margin-bottom: 10px;
    font-size: 11px;
    color: #686b69;
    font-style: italic;
    cursor: default;
  }

  h3 {
    margin-bottom: 20px;
    font-size: 12px;
    color: black;
    letter-spacing: 0.5px;
    cursor: default;
  }

  button {
    padding: 7px 0px;
    color: #505050;
    font-family: 'Open Sans', sans-serif;
    border: 0px;
    border-radius: 3px;
    width: 75px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }

  button.active {
    color: white;
    background-color: #01579B;
    margin-left: 5px;
  }
/* End General */

/* Extras */
  @keyframes glow {
    from {
      color: black;
    }
    to {
      color: #01579B;
    }
  }

  .glow {
    animation: glow .5s infinite alternate;
  }

  .hidden {
    display: none;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .pinned {
    color: #01579B;
  }

  .bold {
    font-weight: bold;
  }

  .save {
    color: #686b69;
  }

  .launch {
    color: #01579B;
  }

  .delete {
    color: #ce3f3f;
  }

  .truncate {
    width: 285px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s ease;
  }

  .truncate.short {
    width: 200px;
  }

  body .popup_hidden {
    display: none !important;
  }
/* End Extras */

/* Overwritted values */
  body .material-icons {
    font-size: 20px;
  }

  .material-icons.normal {
    font-size: 24px;
  }

  #open_page {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 12px;
  }

  #open_page:hover {
    color: #01579B;
  }
/* End Overwritted values */

/* Layout */
  .items_container {
    margin-top: 20px;
  }

  .tab_container {
    margin: 0px 6px 10px 0px;
    padding: 6px 15px 6px 5px;
    font-size: 11px;
    background-color: white;
    border-left: 4px solid white;
    cursor: pointer;
    box-shadow: 0 10px 6px -6px #777;
    transition: all 0.2s ease;
  }

  .sortable_placeholder {
    margin: 0px 6px 10px 0px;
    padding: 0px 15px 0px 5px;
    height: 34px;
    background-color: #f2f1f0;
    border: 1px solid #01579B;
  }

  .tab_container ul {
    margin: 0px;
    padding: 0px;
  }

  .tab_container ul li {
    display: inline-block;
    vertical-align: middle;
  }

  .tab_container:hover {
    border-left: 4px solid #01579B;
    margin-left: 10px;
  }

  .tab_container:hover .truncate {
    width: 275px;
  }

  .tab_container:hover .truncate.short {
    width: 190px;
  }

  .tab_container:not(.pinned_tab):hover .marker {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  .tab_container.selected {
    border-left: 4px solid #01579B;
    margin-left: 10px;
  }
/* End Layout */

/* Tabs */
  .tabs_header {
    background-color: #01579B;
    height: 45px;
    width: 394px;
    position: relative;
    margin-top: 20px;
  }

  .tabs_header ul.tab_name {
    height: 100%;
  }

  .tabs_header ul.tab_name li {
    display: inline-block;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    width: 32%;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
  }

  .tabs_header ul.tab_selection {
    height: 8px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .tabs_header ul.tab_selection li {
    display: inline-block;
    width: 30%;
    height: 4px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
    margin: 0px 1%;
    transition: all 0.2s ease;
  }

  .tabs_header ul.tab_selection li.first {
    margin-left: 1%;
  }

  .tabs_header ul.tab_selection li.second {
    margin-left: 135px;
  }

  .tabs_header ul.tab_selection li.third {
    margin-left: 265px;
  }

  .tabs_header ul.tab_selection li.selected_tab {
    background-color: white;
  }
/* End Tabs */

/* Elements */
  #workspace_name {
    margin-right: 5px;
  }

  #unsaved_workspace {
    float: right;
    margin-right: 12px;
    font-style: italic;
    cursor: pointer;
  }

  #tab_0 .items, #tab_1 .items, #tab_2 .items {
    max-height: 370px;
    overflow-y: scroll;
  }

  #tab_0 .items {
    padding-bottom: 50px;
  }

  .tab_container .marker {
    transition: all 0.3s ease;
  }

  .tab_container .title {
    font-size: 12px;
    padding: 5px;
  }

  .tab_container .opened {
    font-size: 11px;
    color: #01579B;
    font-style: italic;
  }

  .tab_container .tabs_count {
    float: right;
  }

  .tab_container .tabs_count span {
    font-size: 10px;
    float: right;
    font-style: italic;
    letter-spacing: 0.6px;
    color: #444444;
    margin-top: 5px;
  }

  .tab_container .tool {
    float: right;
    margin-left: 5px;
  }

  .tab_container .current {
    color: #01579B;
  }

  .tab_container .make_pin {
    color: #686b69;
    cursor: pointer;
  }

  .tab_container .make_pin:hover {
    color: #01579B;
  }

  .action_button {
    z-index: 11;
    background-color: #01579B;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 7px;
    right: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .action_button i {
    color: white;
    position: absolute;
    top: 25%;
    left: 25%;
  }

  .action_button_shadow {
    z-index: 10;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 8px;
    right: 18px;
    box-shadow: 0 8px 6px -2px #777;
  }

  .action_button:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
/* End Elements */

/* Search Box */
  .search_box_container {
    margin: 0 auto;
    width: 252px;
    margin-bottom: 15px;
  }

  .search_box {
    background-color: white;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
    height: 30px;
  }

  .search_box i {
    vertical-align: bottom;
  }

  .search_box input {
    background: white;
    border: 0px;
    color: black;
    outline: 0px;
    font-size: 14px;
    vertical-align: super;
    padding: 0px;
    width: 180px;
    height: 24px;
    font-family: 'Open Sans', sans-serif;
  }

  .clear_search_box {
    cursor: pointer;
  }

  ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
    color: #dcdcdc;
  }
/* End Search Box */

/* Tooltip */
  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltip_container {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    border-radius: 3px;
    padding: 6px 0px;
    position: absolute;
    z-index: 1;
  }

  .tooltip .tooltip_container:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
  }

  .tooltip .tooltip_container.top {
    bottom: 140%;
    right: -98%;
  }

  .tooltip .tooltip_container.right {
    top: -8%;
    right: 125%;
  }

  .tooltip .tooltip_container.left {
    top: 0%;
    left: 110%;
  }

  .tooltip .tooltip_container.top:after {
    top: 100%;
    left: 70%;
    border-top-color: rgba(0, 0, 0, 0.8);
    border-width: 5px;
    margin-left: -5px;
  }

  .tooltip .tooltip_container.right:after {
    left: 100%;
    top: 50%;
    border-left-color: rgba(0, 0, 0, 0.8);
    border-width: 5px;
    margin-top: -5px;
  }

  .tooltip .tooltip_container.left:after {
    right: 100%;
    top: 50%;
    border-right-color: rgba(0, 0, 0, 0.8);
    border-width: 5px;
    margin-top: -5px;
  }

  .tooltip .tooltip_container.small {
    width: 100px;
  }

  .tooltip .tooltip_container.active_size {
    width: 80px;
  }

  .tooltip .tooltip_container.medium {
    width: 140px;
  }

  .tooltip .tooltip_container.large {
    width: 155px;
  }

  .tooltip .tooltip_container .tooltip_text {
    color: #fff;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    letter-spacing: 0.3px;
  }

  .tooltip:hover .tooltip_container {
    visibility: visible;
  }
/* End Tooltip */

/* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f2f1f0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(173, 173, 173, 0.8);
  }
/* End Tooltip */

/* Overlay */
  .overlay {
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
/* End Overlay */

/* Modal */
  .modal {
    transition: all 0.5s ease;
    z-index: 1001;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: -200%;
    right: 0;
    background: white;
    padding: 20px 20px 10px 20px;
    width: 75%;
    height: 160px;
    border-radius: 3px;
    border: 5px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
  }

  .modal label {
    font-size: 11px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 6px;
    vertical-align: bottom;
    margin-left: 32px;
  }

  .modal input {
    background: white;
    color: black;
    outline: 0px;
    font-size: 13px;
    vertical-align: super;
    padding: 0px;
    width: 180px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    border: 0px;
    border-bottom: 1px solid black;
    margin-left: 5px;
    text-align: left;
    transition: border 0.2s ease;
  }

  .modal input:focus {
    border-bottom: 1px solid #01579B;
  }

  .modal .actions_container {
    margin: 0 auto;
    width: 160px;
    margin-top: 30px;
  }
/* End Modal */
